<!-- <p>game works!</p> -->
<div class="main-content d-flex flex-column justify-content-center align-items-center" #snakeDiv id="snake-content">
  <button class="btn btn-danger py-2" routerLink="/snake-new">Back</button>
  <!-- <button mat-raised-button color="primary">Back</button> -->
  <h1 class="text-center">Score: {{score}}</h1>
  <!-- <h1 class="text-center">Speed: {{speedString}}</h1> -->
  <h1 class="text-center">Difficoltà: {{speedString}}</h1>

</div>
<!-- <div>
  <canvas id="snakeCanvas" width="500" height="500"></canvas>
</div> -->
