
<p>main-menu works!</p>
<!-- <h2>Tic Tac Toe</h2>
<div class="board">
  <div *ngFor="let cell of cells; let i = index"
        class="cell d-flex flex-wrap justify-content-center align-items-center text-center border border-dark bg-light font-weight-bold text-dark px-3 py-3 m-1 w-25 h-25 rounded cursor-pointer hover:bg-dark hover:text-light transition-all duration-300 ease-in-out shadow border-2 border-transparent hover:border-dark transition-all duration-300 ease-in-out transition-all duration-300 ease-in-out"
        [class.x]="cell === 'X'"
        [class.o]="cell === 'O'"
        (click)="makeMove(i)">
    {{ cell }}
  </div>
</div>
<button (click)="reset()">Reset</button> -->


<h2>Tic Tac Toe</h2>
<div class="container d-flex flex-column" style="height: 300px;">
  <div class="container col-12 h-100">
    <div class="row h-100">
      <div class="row col-3 mx-5" style="height: 33%;">
        <div *ngFor="let cell of cells; let i = index"
              class="col-4 py-3 text-center cell border h-100"
              [class.x]="cell === 'X'"
              [class.o]="cell === 'O'"
              (click)="makeMove(i)">
          {{ cell }}
        </div>
      </div>
      <div class="col-4 py-3 text-center cell border mx-5" style="height: fit-content !important;" *ngIf="winner !== ''">
        <h1>COMPLIMENTI! Il giocatore {{winner}} ha vinto!</h1>
      </div>

    </div>
  </div>
  <button class="btn btn-primary col-1 h-25" (click)="reset()">Reset</button>

</div>

<!-- <div class="w-25 d-flex justify-content-evenly align-items-center" style="background-color: magenta; height: 250px;">
  <div class="border col-2 h-25" style="border-radius: 5px;"></div>
  <div class="border h-25"></div>
  <div class="border col-2 h-25"></div>
  <div class="border col-2 h-25"></div>
  <div class="border col-2 h-25"></div>
  <div class="border col-2 h-25"></div>
</div> -->

<!-- <div class="container text-center w-25" style="background-color: magenta;">
  <div class="row">
    <div class="col border"></div>
    <div class="col border"></div>
    <div class="col border">Una di tre colonne</div>
  </div>
</div> -->
